APP_ENV=production

DEBUG=false

VERBOSITY_LEVEL=verbose

ENCRYPTER_KEY={encrypt-key}

TOKENIZER_CACHE_TARGETS=true
TOKENIZER_LOAD_CLASSES=true
TOKENIZER_LOAD_ENUMS=true
TOKENIZER_LOAD_INTERFACES=true

SAFE_MIGRATIONS=true

DB_CONNECTION=pgsql
DB_DATABASE=spiral
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USERNAME=root
DB_PASSWORD=password

CYCLE_SCHEMA_CACHE=true
CYCLE_SCHEMA_WARMUP=true

REDIS_HOST=redis
